<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logFile" xsi:type="File" fileName="${basedir}/Logs/${level}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Warn" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="logfile" />
    <logger name="*" minlevel="Fatal" writeTo="logfile" />
  </rules>
</nlog>